<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Reduce Netty verbosity -->
    <logger name="io.netty" level="WARN"/>

    <!-- Show our application logs -->
    <logger name="com.tutorial.raftkv" level="DEBUG"/>

    <!-- Raft core at INFO to see important events -->
    <logger name="com.tutorial.raftkv.raft.RaftCore" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>